/* resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after {
	content: "";
  display: table;
  clear: both;
}

/* grid */

.row {
  margin: 0 -10px;
  margin-bottom: 20px;
}
.row:last-child {
  margin-bottom: 0;
}
[class*="col-"] {
  padding: 10px;
}

@media all and ( min-width: 600px ) {

	.col-1-4 {
    float: left;
    width: 25%;
  }

}

.playButton {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px;
    margin-left: 40%;
}

.button {
    background-color: #4CAF50; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px;
}